.allQuizzesContainer {
    background: linear-gradient(to bottom, #FFE2D6, #FFD4C2);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 600px;
}

.pageTitle {
    color: #6E7987;
    text-align: center;
    margin-bottom: 20px;
}

.categories-container {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
}

.category-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.category-item:hover {
    background-color: #e9ecef;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category-item:last-child {
    margin-bottom: 0;
}

.category-item label {
    margin-left: 10px;
}

.category-item input[type="checkbox"] {
    margin-right: 10px;
}

.quizItem {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.quizItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.quiz-title-link {
    color: #005f73;
    text-decoration: none;
}

.quiz-title-link:hover {
    text-decoration: underline;
    color: #004452;
}