/* dashboard.css */

.dashboard-container {
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.user-stats-container .card {
    border: none; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-stats-container .card-title {
    color: #264653;
}

.user-stats-container .list-group-item {
    background-color: #ffffff; 
    border: none; 
}

.user-quizzes-container .card {
    border: none; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-quizzes-container .card-title {
    color: #264653;
}

