/* dashboard.css */

.dashboard-container {
    background-color: #f8f9fa; /* Slightly darker background for the dashboard */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

.user-stats-container .card {
    border: none; /* Remove border from card */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-stats-container .card-title {
    color: #264653;
}

.user-stats-container .list-group-item {
    background-color: #ffffff; /* White background for list items */
    border: none; /* No border for list items */
}

.user-quizzes-container .card {
    border: none; /* Remove border from quiz cards */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-quizzes-container .card-title {
    color: #264653;
}

