/* edit_quiz */
.editQuizContainer {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.editQuizTitle {
    color: #264653;
    text-align: center;
    margin-bottom: 20px;
}

.existingQuestionsTitle {
    color: #264653;
    margin-top: 20px;
}

/* edit_answers */

.editAnswersContainer {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.editAnswersTitle {
    color: #264653;
    text-align: center;
    margin-bottom: 20px;
}
